@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #b89d4f;
  --color-secondary: #b89e4f;
  --color-text-gray: #7d7d7d;
}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));



.active {
  @apply bg-[#FF6F61] text-white rounded ;
}
